<ons-toolbar>
    <div class="right">
        <ons-toolbar-button class="menuButton" ng-click="mySplitter.left.open()">
            <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
    </div>
</ons-toolbar>
    <h1>Важно</h1>
   <p>Чл. 326. (Изм. - ДВ, бр. 28 от 1982 г., бр. 41 от 1985г.) Който предава по радио, телефон или по друг начин неверни повиквания или заблуждаващи знаци за помощ, злополука или тревога, се наказва с лишаване от свобода до две години или с поправителен труд, като съдът може да постанови и задължително заселване.</p>
<p>Имате възможност за подаване и на други сигнали</p>
<h2>Какво е престъпление член 12 от НАКАЗАТЕЛЕН КОДЕКС</h2>
<p>Чл. 12. (1) Престъплението е общественоопасно и противоправно деяние (действие или бездействие), което е извършено виновно и е обявено от този кодекс за наказуемо. (2) Не е престъпно деянието, което макар формално и да осъществява признаците на предвидено в кодекса престъпление, поради своята малозначителност не е общественоопасно или неговата обществена опасност е явно незначителна.</p>
