    <div class="main-wrapper" ng-controller="HomeController as main">
          <div id="main-police" ng-click="main.SendSignal('police')" class="main-signal-wrapper">
              <img class="main" src="./misc/images/0c6d1865275bc007f1893a9044e34b3e.png">
              <p class="main">Полиция</p>
          </div>
          <div id="main-ambulance" main.SendSignal('ambulance') class="main-signal-wrapper">
              <img class="main" src="./misc/images/c975b0593ecb7ab7c1e72049218fcc40.png">
              <p class="main">Бърза помощ</p>
          </div>
          <div id="main-firedepartment" main.SendSignal('fire') class="main-signal-wrapper">
              <img class="main" src="./misc/images/ad625b88fffbfb462c015302eff9ab74.png">
              <p class="main">Пожарна</p>
          </div>
          <div id="main-zoopolice" main.SendSignal('zoo') class="main-signal-wrapper">
              <img class="main" src="./misc/images/5618cfee7b8bff103c81cd90593d0465.png">
              <p class="main">Зоополиция</p>
          </div>
          <div id="main-panicbutton" main.SendSignal('panic') class="">
              <img class="main" style="float: right;" src="./misc/images/oval1.png"></img>
              <img class="main" style="float: left;" src="./misc/images/oval2.png"></img>
              <img class="main" src="./misc/images/56cbcd451ec7238b4d303440617a74c9.png"></img>
              <p class="main">Паник бутон!</p>
          </div>
    </div>
