    <div class="wrapper">
          <div id="police" class="signal-wrapper">
              <img src="./assets/0c6d1865275bc007f1893a9044e34b3e.png">
              <p>Полиция</p>
          </div>
          <div id="ambulance" class="signal-wrapper">
              <img src="./assets/c975b0593ecb7ab7c1e72049218fcc40.png">
              <p>Бърза помощ</p>
          </div>
          <div id="firedepartment" class="signal-wrapper">
              <img src="./assets/ad625b88fffbfb462c015302eff9ab74.png">
              <p>Пожарна</p>
          </div>
          <div id="zoopolice" class="signal-wrapper">
              <img src="./assets/5618cfee7b8bff103c81cd90593d0465.png">
              <p>Зоополиция</p>
          </div>
          <div id="panicbutton" class="">
              <img style="float: right;" src="./assets/oval1.png"></img>
              <img style="float: left;" src="./assets/oval2.png"></img>
              <img src="./assets/56cbcd451ec7238b4d303440617a74c9.png"></img>
              <p>Паник бутон!</p>
          </div>
    </div>
