
    <div class="wrapper">
          <div id="ambulance" class="signal-wrapper">
              <img src="./assets/c975b0593ecb7ab7c1e72049218fcc40.png">
              <p>Бърза помощ</p>
          </div>
          <div id="firedepartment" class="signal-wrapper">
              <img src="./assets/ad625b88fffbfb462c015302eff9ab74.png">
              <p>Пожарна</p>
          </div>
          <div id="zoopolice" class="signal-wrapper">
              <img src="./assets/5618cfee7b8bff103c81cd90593d0465.png">
              <p>Зоополиция</p>
          </div>
          <div id="current_department">
              <div class="signal-tier green">
                <p>1</p>
              </div>
              <div class="add-info">
                  <img src="./assets/13652249372108434179Record Button Microphone.svg.hi.png">
              </div>
              <div class="signal-tier yellow">
                <p>2</p>
              </div>
              <div class="add-info">
                  <img src="./assets/fab2.png">
              </div>
              <div class="signal-tier red">
                <p>3</p>
              </div>
              <div class="add-info">
                  <img src="./assets/Messages-2-icon (1).png">
              </div>
          </div>
          <div class="signal-lock">
              <p>Сигнал беше подаден преди:</p>
              <p>00:12</p>
              <button type="button" class="button">Отказ</button>
          </div>
    </div>
